@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

html  {
    cursor: url("./Fez-Medlrg.png"), auto;
            /*width: 22px;*/
}
body {
  font-family: 'Times';
  margin: 0;
  padding: 0;
/*  width: 80%;*/
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*background-color: red;*/
}
#preloader {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999; /* makes sure it stays on top */
}

#status {
    /*width:80px;
    height:80px;*/
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    /*background-image:url(loading2.gif);  path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-40px 0 0 -40px; /* is width and height divided by two */
}
#status img  {
   width:80px;
  height:80px;
  
}
.menucontainer  {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
/*  border: 1px solid black;*/
}
.menu {
  display: flex;
  justify-content: space-around;
  margin: 20px 70px;
}
.menuitems a  {
  list-style-type: none;
  outline: 1px solid black;
  color: black;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}
.menuitems a:hover  {
  font-style: italic;
}

.logowrapper  {
  position: fixed;
  width: 100%;
  z-index: 0;
}
.logo {
  float: right;
  font-size: 44px;
  margin-top: 280px;
  margin-right: -50px;
  width: 350px;
  padding: 20px;
  border: 5px solid black;
  transform: translate(-50%, -100%);
  transform: rotate(90deg);
}

.subtitles  {
  position: relative;
  display: inline-block;
  list-style-type: none !important;
  text-decoration: none;
    line-height: 15px;
    /*margin-top: -3px;*/
  font-size: 11px;
  text-transform: uppercase;
  color: #000000;
  /*z-index: 6;*/
}

.flex-container {
    z-index: 100;
    display: flex;
    min-width: 1080px;
    justify-content: space-around;
    margin: auto;
/*    background-color: red;*/
}
.flex-item {
    width: 440px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}
.flex-item a  {
  font-style: italic;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 140px;
  /*margin-top: auto;
  margin-bottom: auto;*/
}
.subheader  {
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
}
.piccontainer img  {
  width: 180px;
}
.number  {
  position: absolute;
  top: 0;
  display: block;
  color: white;
}
#img1  {
  position: absolute;
  top: 220px;
  margin-left: 380px;
  border: 1px solid red;
  z-index: 1;
}
#img1:hover  {
  z-index: 100;
}


#img2  {
  position: absolute;
  top: 310px;
  margin-left: 230px;
  border: 1px solid red;
  z-index: 2;
}
#img2:hover  {
  z-index: 100;
}
#img3  {
  position: absolute;
  top: 270px;
  margin-left: 650px;
  border: 1px solid red;
  z-index: 3;
}
#img3:hover  {
  z-index: 100;
}
#img4  {
  position: absolute;
  top: 340px;
  margin-left: 380px;
  border: 1px solid red;
  z-index: 4;
}
#img4:hover  {
  z-index: 100;
}
#img5 {
  position: absolute;
  top: 420px;
  margin-left: 600px;
  border: 1px solid red;
  z-index: 4;
}
#img5:hover  {
  z-index: 100;
}
#img6 {
  position: absolute;
  top: 340px;
  margin-left: 500px;
  border: 1px solid red;
  z-index: 4;
}
#img6:hover  {
  z-index: 100;
}
#img7 {
  position: absolute;
  top: 540px;
  margin-left: 700px;
  border: 1px solid red;
  z-index: 5;
}
#img7:hover  {
  z-index: 100;
}
#img8 {
  position: absolute;
  top: 840px;
  margin-left: 450px;
  border: 1px solid red;
  z-index: 4;
}
#img8:hover  {
  z-index: 100;
}
#img9 {
  position: absolute;
  top: 615px;
  margin-left: 220px;
  border: 1px solid red;
  z-index: 4;
}
#img9:hover  {
  z-index: 100;
}
#img10 {
  position: absolute;
  top: 550px;
  margin-left: 380px;
  border: 1px solid red;
  z-index: 4;
}
#img10:hover  {
  z-index: 100;
}
#img11 {
  position: absolute;
  top: 500px;
  margin-left: 210px;
  border: 1px solid red;
  z-index: 4;
}
#img11:hover  {
  z-index: 100;
}
#img12 {
  position: absolute;
  top: 690px;
  margin-left: 690px;
  border: 1px solid red;
  z-index: 4;
}
#img12:hover  {
  z-index: 100;
}
#img13 {
  position: absolute;
  top: 310px;
  margin-left: 520px;
  border: 1px solid red;
  z-index: 4;
}
#img13:hover  {
  z-index: 100;
}
#img14 {
  position: absolute;
  top: 410px;
  margin-left: 250px;
  border: 1px solid red;
  z-index: 4;
}
#img14:hover  {
  z-index: 100;
}
#img15 {
  position: absolute;
  top: 370px;
  margin-left: 750px;
  border: 1px solid red;
  z-index: 4;
}
#img15:hover  {
  z-index: 100;
}
#img16 {
  position: absolute;
  top: 600px;
  margin-left: 530px;
  border: 1px solid red;
  z-index: 4;
}
#img16:hover  {
  z-index: 100;
}
#img17 {
  position: absolute;
  top: 660px;
  margin-left: 400px;
  border: 1px solid red;
  z-index: 4;
}
#img17:hover  {
  z-index: 100;
}
/*#img15 {
  position: absolute;
  top: 460px;
  margin-left: 250px;
  border: 1px solid red;
  z-index: 4;
}
#img15:hover  {
  z-index: 100;
}*/

.bottom  {
  position: absolute;
  top: 3600px;
  left: 0px;
  width: 100%;
  height: 100px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 20px;
}


